*.xml
!checkstyle-idea.xml
!PMDPlugin.xml
!palantir-java-format.xml
!codeStyles/codeStyleConfig.xml
!codeStyles/Project.xml
!inspectionProfiles/Project_Default.xml
!runConfigurations/*.xml
!misc.xml
!runConfigurations/*

libraries
scopes
